{% extends "search/base.html" %}

{% block content %}
<div class="row" id="titulo">
<center><p> Página de Configuração </p></center>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
          <form method="post" action="{% url 'search:create_keyword'%}">
            {% csrf_token %}
            <p> Adicione palavras-chave: {{ keyword_form.name }}
            <button type="submit" class="page-scroll btn btn-default btn-xl sr-button">Adicionar</button>
            </p>
          </form>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
          {% for keyword in keywords %}
            <form method="post" action="{% url 'search:delete_keyword'%}">
              {% csrf_token %}
              <input type="hidden" name="keyword_id" value={{keyword.id}}>

              <div style="float:left" class="badge progress-bar-info">
                {{keyword.name|upper}}
                <br>
                <button type="submit" class="close">&times;</button>

              </div>

            </form>
          {% endfor %}
    </div>
</div>


<hr style="height:1px;border:none;background-color:#bfbfbf;width:93%">

<div class="row">
    <div class="col-xs-12">
          <form method="post" action="{% url 'search:create_ignored'%}">
            {% csrf_token %}
            <p> Domínios de exceção: {{ ignored_form.name }}
            <button type="submit" class="page-scroll btn btn-default btn-xl sr-button">Adicionar</button>
            </p>
          </form>

        {% for ignored_domain in ignored_domains %}
          <form method="post" action="{% url 'search:delete_ignored'%}">
            {% csrf_token %}
            <input type="hidden" name="ignored_id" value={{ignored_domain.id}}>

            <div style="float:left" class="badge progress-bar-info">
              {{ignored_domain.name}}
              <br>
              <button type="submit" class="close">&times;</button>
            </div>
          </form>
         {% endfor %}

  </div>
</div>

{% endblock %}
