{% extends "search/base.html" %}

{% block content %}
<div id="titulo">
<center><p> Histórico de Pesquisas </p></center>
</div>
<hr>
<ol>
  {% for query in queries %}
  <center>
    <li style="color:green"> Você pesquisou: {{query.get_entities_formated}}
    <br>
    Na data: {{query.time}} | No(s) site(s): {{query.get_engines_formated}}
    </li>
    <br>
    <form method="get" action={% url 'search:index' %}>
      {% for engine in query.get_engines %}
        <input type="hidden" name="engines" value="{{engine}}">
      {% endfor %}
      <input type="hidden" name="query" value="{{query.get_entities_formated}}">
      <input type="hidden" name="dont_save_query" value="1">
      <button type="submit" class="page-scroll btn btn-default btn-xl sr-button"> Refaça a busca!</button>
    </form>
  </center>
<hr style="height:1px;border:none;background-color:#bfbfbf;width:93%">
  {% endfor %}
</ol>
{% endblock %}
