{% extends "search/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}


  <div class="row">

      <span class="dropdown" id="logoutANDname">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_username }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><center><a href="{% url 'dashboard:password_reset' %}">Trocar senha</a></center></li>
          <li role="separator" class="divider"></li>
          <li><center><a href="{% url 'dashboard:logout' %}">{% bootstrap_button content='Logout'%}</a></center></li>
        </ul>
      </span>
      
  <form method="get" style="background-color:#e2e2e2" class="well">
      {{form.query}}
      <input type="submit" value="Pesquisar" class="btn btn-primary btn-xl page-scroll">

   </div>
      <!-- End first ROW -->

      <!-- Start the second ROW -->
   <div class="row">
        <div class="col-xs-7"><!-- div da esquerda -->
            <br>
            <ol>
            {% for article in articles %}
              <li><a style:"font-size:1" href="{{article.url}}">{{article.title}}</a></li>
              {{article.short_summary}}...
              <p style="color:green">{{article.url|urlizetrunc:30}} | Publicada em: {{article.publish_date}} </p>
              <hr>
            {% endfor %}
            </ol>
        </div>

        <div class="col-xs-5" style="border-left:3px solid #e2e2e2;height:1430px"> <!-- div da direita -->
            <br>
            <br>

            <div id="engines">
              {{form.engines}}
            </div>
            <div id="keywords">
              {{form.keywords}}
            </div>
        </div>
   </div>
  </form>


  {% if error_message %}
  <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{ error_message }}
    </div>
  {% endif %}

{% endblock %}
