{% extends 'registration/base.html' %}
{% load bootstrap3 %}
{% block title %}Index{% endblock %}

{% block content %}

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">Bem-Vindo ao NOVO CAMINHO</h1>
                    <hr>
                    <p>Você poderá descobrir o que a mídia fala negativamente sobre pessoas, empresas ou quaisquer entidades que quiser!</p>
                    <a href="{% url 'dashboard:login' %}">{% bootstrap_button "Já sou usuário" button_type="submit" button_class="btn btn-primary btn-xl page-scroll" %}</a>
                    <a href="{% url 'dashboard:signup' %}">{% bootstrap_button "Quero cadastrar" button_type="submit" button_class="btn btn-primary btn-xl page-scroll" %}</a>
                    {% if reset_password == 1 %}
                    <br><br>
                    <span>Uma mensagem para redefinir sua senha foi enviada ao seu e-mail.</span>
                    {% endif %}

                </div>
            </div>
        </header>

      {% if error_message %}
      <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{ error_message }}
        </div>
      {% endif %}


{% endblock %}
