{% extends 'registration/base.html' %}

{% block title %}Password_Reset{% endblock %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >    $(document).ready(function(){        $("#id_email").attr('placeholder', 'e-mail');    }); </script>

  <header>
    <div class="header-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Esqueci minha senha</h2>
                <form method="post">
                    {% csrf_token %}
                    <p style="color:black"> {{ form.email }}  </p>
                    <button type="submit" class="btn btn-primary btn-xl page-scroll">Enviar</button>
                </form>

                {% if form.errors %}
                    <br>
                    <br>
                    <p style="color:papayawhip">E-mail não cadastrado! Tente novamente.</p>
                {% endif %}

            </div>
        </div>
    </div>
  </header>

{% endblock %}
