{% extends 'registration/base.html' %}

{% block title %}Password_Reset_Complete{% endblock %}

{% load bootstrap3 %}
{% block content %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >    $(document).ready(function(){}); </script>

  <header>
    <div class="header-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h3>Senha Redefinida</h3>
              <br>
              <a href="{% url 'dashboard:login' %}">{% bootstrap_button "Ir para Login" button_type="submit" button_class="btn btn-primary btn-xl page-scroll" %}</a>
            </div>
        </div>
    </div>
  </header>
{% endblock %}
