{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >    $(document).ready(function(){        $("#id_new_password1").attr('placeholder', 'Nova Senha');        $("#id_new_password2").attr('placeholder', 'Confirmar Senha');    }); </script>

  <header>
    <div class="header-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              {% if validlink %}
                <h3>Digite sua nova senha</h3>
                <form method="post">
                  {% csrf_token %}
                  <p style="color:black"> {{ form.new_password1 }}  </p>
                  <p style="color:black"> {{ form.new_password2 }}  </p>
                  <button type="submit" class="btn btn-primary btn-xl page-scroll">Redefinir Senha</button>
                </form>
              {% else %}
                <p>
                  Este link é inválido, possivelmente ele já foi utilizado.
                  Por favor, solicite uma nova senha.
                </p>
              {% endif %}
            </div>
        </div>
    </div>
  </header>

{% endblock %}
